body {
    background-color: #040d38;
    font-family: 'Barlow Condensed';
    color: #dee1e4;
}

#container {
    width: 462px;
    height: 302px;
    background-color: #193d61;
    position: relative;
    overflow: hidden;
    border: 1px solid #44617e;
}

#moon {
    float: left;
    width: 60px;
    height: 61px;
    margin-right: 10px;
}

#weather {
    float: left;
    width: 60px;
    height: 61px;
    margin-left: 10px;
}

#moon, #weather {
    text-align: center;
    font-size: 12pt;
    color: #dee1e4;
}

#date {
    float: left;
    width: 322px;
    height: 61px;
    text-align: center;
}

#month {
    font-size: 34pt;
    color: #4ebca1;
    text-transform: uppercase;
}

#day-of-week, #day-of-month {
    font-size: 20pt;
    color: #b9d7bd;
}

#day-of-week {
    padding-right: 8px;
}

#day-of-month {
    padding-left: 8px;
}

#time {
    width: 462px;
    float: left;
    text-align: center;
    font-size: 82pt;
    color: #dee1e4;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hours-minutes {
    margin-right: -15px;
    margin-left: 45px;
}

.meridian {
    font-size: 30pt;
    color: #b9d7bd;
}

#onthisday {
    padding: 15px;
}

#onthisday-title {
    color: #4ebca1;
}

#onthisday-year {
    color: #b9d7bd;
}

#onthisday-event {
    color: #b9d7bd;
}